.\2Phase_GameFrame_Achieve_Day2_4\2_3GameServer_Day3\GameServer\GameServer\bin
.\2Phase_GameFrame_Achieve_Day2_4\2_3GameServer_Day3\GameServer\GameServer\obj

obj/

*.ipch
*.vsidx
*.db
*.vcxproj
*.sln

bin/
.vs/
